.title Billing Info

.accepted_cards

.credit_card
  .field.first_name
    .placeholder First Name
    input(type="text", name="billing[first_name]")

  .field.last_name
    .placeholder Last Name
    input(type="text", name="billing[last_name]")

  .card_cvv
    .field.card_number
      .placeholder Credit Card Number
      input(type="text", name="billing[card_number]")

    .field.cvv
      .placeholder CVV
      input(type="text", name="billing[cvv]")

  .field.expires
    .title Expires
    .month
      select(name="billing[expires_month]")
        include months.jade
    .year
      select(name="billing[expires_year]")

.address
  .field.address1
    .placeholder Address
    input(type="text", name="billing[address1]")

  .field.address2
    .placeholder Apt/Suite
    input(type="text", name="billing[address2]")

  .field.city
    .placeholder City
    input(type="text", name="billing[city]")

  .state_zip
    .field.state
      .placeholder State/Province
      input(type="text", name="billing[state]")

    .field.zip
      .placeholder Zip/Postal
      input(type="text", name="billing[zip]")

  .field.country
    select(name="billing[country]")
      include countries.jade

.field.vat_number
  .placeholder VAT Number
  input(type="text", name="billing[vat_number]")

