.title Contact Info

.full_name
  .field.first_name
    .placeholder First Name 
    input(type="text")


  .field.last_name
    .placeholder Last Name 
    input(type="text")

.field.email
  .placeholder Email 
  input(type="text")

.field.phone
  .placeholder Phone Number
  input(type="text")

.field.company_name
  .placeholder Company/Organization Name
  input(type="text")

