.title Contact Info

.full_name
  .field.first_name
    .placeholder First Name
    input(type="text", name="contact[first_name]")


  .field.last_name
    .placeholder Last Name
    input(type="text", name="contact[last_name]")

.field.email
  .placeholder Email
  input(type="text", name="contact[email]")

.field.phone
  .placeholder Phone Number
  input(type="text", name="contact[phone]")

.field.company_name
  .placeholder Company/Organization Name
  input(type="text", name="contact[company_name]")

