form.recurly.subscribe
  //if lt IE 7
    div.iefail
      div.chromeframe
        p.blast Your browser is not supported by Recurly.js.
        p
          a(href="http://browsehappy.com/") Upgrade to a different browser
        p or
        p
          a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        p to use this site.
  .subscription
    .plan(style="display:none")
      .name 
      .field.quantity
        .placeholder Qty
        input(type="text")

      .recurring_cost
        .cost
        .interval

      .free_trial

      .setup_fee
        .title Setup Fee
        .cost


    .add_ons.none 

    .coupon(style="display:none")
      .coupon_code.field
        .placeholder Coupon Code
        input.coupon_code(type="text")
      .check
      .description
      .discount

    .vat
      .title VAT
      .cost

  .due_now(style="display:none")
    .title Order Total
    .cost 

  .server_errors.none

  .contact_info(style="display:none")

  .billing_info

  .accept_tos
 
  .footer
