.recurly_subscribe {
  display: block;
  position: relative;
  width: 500px;
}
.recurly_subscribe .cost,
.recurly_subscribe .discount {
  text-align: right;
}
.recurly_subscribe .subscription {
  border-radius: 9px 9px 0 0;
  text-shadow: 0 1px 0 #fff;
  padding-top: 20px;
  overflow: hidden;
}
.recurly_subscribe .plan {
  color: #333;
  overflow: hidden;
  position: relative;
}
.recurly_subscribe .plan .name {
  float: left;
  font-size: 32px;
  min-width: 200px;
  margin-right: 40px;
  margin-left: 20px;
}
.recurly_subscribe .plan .quantity.field {
  clear: none;
  width: 60px;
  margin: 4px 0;
}
.recurly_subscribe .plan .quantity.field input {
  width: 48px;
}
.recurly_subscribe .plan .quantity.field:before {
  content: "\d7";
  height: 48px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  width: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  z-index: 1337;
  color: #666;
}
.recurly_subscribe .plan .recurring_cost {
  float: right;
  margin-right: 20px;
  text-align: right;
}
.recurly_subscribe .plan .recurring_cost .cost {
  font-size: 28px;
}
.recurly_subscribe .plan .recurring_cost .interval {
  font-size: 13px;
  height: 22px;
}
.recurly_subscribe .free_trial {
  clear: left;
  float: left;
  font-size: 13px;
  height: 22px;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 20px;
  font-style: italic;
}
.recurly_subscribe .setup_fee {
  clear: both;
  background: url("../images/dash.png") repeat-x 1px top;
  padding: 20px 0;
}
.recurly_subscribe .setup_fee .title {
  float: left;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
}
.recurly_subscribe .setup_fee .cost {
  float: right;
  margin-right: 20px;
}
.recurly_subscribe .vat {
  height: 24px;
  padding: 20px 20px;
  display: none;
  background: url("../images/dash.png") repeat-x 1px top;
}
.recurly_subscribe .vat.applicable {
  display: block;
}
.recurly_subscribe .vat label {
  font-size: 18px;
  font-weight: normal;
  float: left;
}
.recurly_subscribe .vat .cost {
  float: right;
  font-size: 18px;
}
.recurly_subscribe ul.add_ons {
  clear: both;
  margin: 0;
}
.recurly_subscribe ul.add_ons.any {
  padding: 10px;
}
.recurly_subscribe ul.add_ons li {
  background: -webkit-linear-gradient(top, #ecedee, #e5e6e7);
  background: -moz-linear-gradient(top, #ecedee, #e5e6e7);
  background: -o-linear-gradient(top, #ecedee, #e5e6e7);
  background: linear-gradient(top, #ecedee, #e5e6e7);
  margin: 0;
  height: 43px;
  line-height: 42px;
  width: 478px;
  vertical-align: middle;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-shadow: 0 1px 0 #fff;
  color: #999;
  font-weight: 300;
  font-size: 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.recurly_subscribe ul.add_ons li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recurly_subscribe ul.add_ons li:last-child {
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.recurly_subscribe ul.add_ons li .name {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  float: left;
  width: 200px;
  margin-left: 9px;
  margin-right: 20px;
  font-style: italic;
}
.recurly_subscribe ul.add_ons li .quantity.field {
  clear: none;
  margin: 4px 0;
  width: 60px;
  display: none;
}
.recurly_subscribe ul.add_ons li .quantity.field input {
  width: 48px;
}
.recurly_subscribe ul.add_ons li .quantity.field:before {
  content: "\d7";
  height: 48px;
  line-height: 30px;
  position: absolute;
  right: 100%;
  width: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  z-index: 1337;
  color: #666;
}
.recurly_subscribe ul.add_ons li .cost {
  float: right;
  margin: 0px 10px 0px 55px;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}
.recurly_subscribe ul.add_ons li:hover {
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #dfdfdf 50%, #d5d5d5 50%, #e0e0e0 100%);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #dfdfdf 50%, #d5d5d5 50%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #dfdfdf 50%, #d5d5d5 50%, #e0e0e0 100%);
  background: linear-gradient(top, #f0f0f0 0%, #dfdfdf 50%, #d5d5d5 50%, #e0e0e0 100%);
  box-shadow: inset 0 1px 0 #fff;
  text-shadow: none;
  color: #111;
}
.recurly_subscribe ul.add_ons li:active,
.recurly_subscribe ul.add_ons li.selected {
  color: #111;
  background: -webkit-linear-gradient(top, #f0f0f0, #fff);
  background: -moz-linear-gradient(top, #f0f0f0, #fff);
  background: -o-linear-gradient(top, #f0f0f0, #fff);
  background: linear-gradient(top, #f0f0f0, #fff);
  width: auto;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.075);
  text-shadow: none;
}
.recurly_subscribe ul.add_ons li.selected {
  background: #fff url("../images/check.png") no-repeat 10px center;
  padding-left: 24px;
}
.recurly_subscribe ul.add_ons li.selected:hover {
  background: #fcf5f0 url("../images/uncheck.png") no-repeat 10px center;
}
.recurly_subscribe ul.add_ons li.selected .quantity {
  display: block;
}
.recurly_subscribe .coupon {
  clear: both;
  height: 34px;
  color: #333;
  padding: 20px 20px;
  position: relative;
  background: rgba(0,0,40,0.02) url("../images/dash.png") repeat-x 1px top;
}
.recurly_subscribe .coupon .check {
  width: 26px;
  height: 26px;
  float: left;
  border-radius: 15px 15px 15px 15px;
  background: #70ccf8;
  border: 1px solid #0090c9;
  background: url("../images/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #61bDFA 0%, #35afF5 50%, #00a1e6 50%, #61bEFB 100%);
  background: url("../images/coupon_check.png") no-repeat center center, -moz-linear-gradient(top, #61bDFA 0%, #35afF5 50%, #00a1e6 50%, #61bEFB 100%);
  background: url("../images/coupon_check.png") no-repeat center center, -o-linear-gradient(top, #61bDFA 0%, #35afF5 50%, #00a1e6 50%, #61bEFB 100%);
  background: url("../images/coupon_check.png") no-repeat center center linear-gradient(top, #61bDFA 0%, #35afF5 50%, #00a1e6 50%, #61bEFB 100%);
  margin: 3px 0 1px 10px;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.35), 0 1px 1px 0 rgba(0,0,0,0.1);
}
.recurly_subscribe .coupon .check:hover {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.75), 0 1px 1px 0 rgba(0,0,0,0.1);
  background: url("../images/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #71cdfa 0%, #43bef9 50%, #00b1f6 50%, #71cefb 100%);
}
.recurly_subscribe .coupon .check:active {
  background: url("../images/coupon_check.png") no-repeat center center, -webkit-linear-gradient(top, #f0f0f0, #fff);
  box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.025);
  border: 1px solid #999;
}
.recurly_subscribe .coupon.checking .check {
  background: #f0f0f0 url("../images/coupon_checking.gif") no-repeat center center;
  box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.025);
  border: 1px solid #999;
}
.recurly_subscribe .coupon.invalid .coupon_code {
  border-color: #a55;
  background: #fee;
  color: #311;
}
.recurly_subscribe .coupon .description {
  float: left;
  margin-left: 20px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  font-size: 14.4px;
}
.recurly_subscribe .coupon .discount {
  float: right;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}
.recurly_subscribe .error {
  padding: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fec;
  background: rgba(240,250,0,0.5);
  border: 1px solid #ba1;
  box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}
.recurly_subscribe .server_errors {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  margin: 20px 20px;
}
.recurly_subscribe .server_errors.none {
  display: none;
}
.recurly_subscribe .field .error {
  width: 128px;
  padding: 5px;
  line-height: 22px;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 20px;
}
.recurly_subscribe .contact_info,
.recurly_subscribe .billing_info {
  margin: 0;
  display: block;
  position: relative;
  border: none;
  padding: 20px;
  overflow: hidden;
}
.recurly_subscribe .contact_info.billing_info,
.recurly_subscribe .billing_info.billing_info {
  background: url("../images/dash.png") repeat-x 1px top;
  padding-bottom: 0;
}
.recurly_subscribe .contact_info .title,
.recurly_subscribe .billing_info .title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #404041;
  text-shadow: 0 1px 0 #fff;
}
.recurly_subscribe .contact_info .credit_card,
.recurly_subscribe .billing_info .credit_card {
  clear: both;
}
.recurly_subscribe .field {
  display: inline;
  float: left;
  clear: left;
  width: 300px;
  height: 34px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
}
.recurly_subscribe .field input {
  width: 288px;
}
.recurly_subscribe .field .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 7px;
  font-size: 16px;
  font-weight: normal;
  line-height: 34px;
  vertical-align: middle;
  color: rgba(0,0,0,0.5);
  cursor: text;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: 300;
}
.recurly_subscribe .field.focus .placeholder {
  color: rgba(0,0,0,0.25);
}
.recurly_subscribe .field.coupon_code {
  width: 140px;
}
.recurly_subscribe .field.coupon_code input {
  width: 128px;
}
.recurly_subscribe .field.first_name {
  width: 140px;
}
.recurly_subscribe .field.first_name input {
  width: 128px;
}
.recurly_subscribe .field.first_name .error {
  left: 300px;
}
.recurly_subscribe .field.last_name {
  width: 140px;
  margin-left: 20px;
  margin-left: 20px;
  clear: none;
  clear: none;
}
.recurly_subscribe .field.last_name input {
  width: 128px;
}
.recurly_subscribe .field.card_number {
  width: 220px;
}
.recurly_subscribe .field.card_number input {
  width: 208px;
}
.recurly_subscribe .field.card_number .error {
  left: 300px;
}
.recurly_subscribe .field.cvv {
  width: 60px;
  margin-left: 20px;
  margin-left: 20px;
  clear: none;
  clear: none;
}
.recurly_subscribe .field.cvv input {
  width: 48px;
}
.recurly_subscribe .field.expires {
  width: 300px;
}
.recurly_subscribe .field.expires input {
  width: 288px;
}
.recurly_subscribe .field.expires label {
  float: left;
  line-height: 24px;
  vertical-align: middle;
}
.recurly_subscribe .field.expires label:after {
  content: ":";
}
.recurly_subscribe .field.expires .month {
  width: 100px;
}
.recurly_subscribe .field.expires .month input {
  width: 88px;
}
* html .recurly_subscribe .field.expires .year {
  width: 60px;
}
* html .recurly_subscribe .field.expires .year input {
  width: 48px;
}
.recurly_subscribe .field.expires .month,
.recurly_subscribe .field.expires .year {
  float: right;
  margin-left: 10px;
}
.recurly_subscribe .field.state {
  width: 180px;
}
.recurly_subscribe .field.state input {
  width: 168px;
}
.recurly_subscribe .field.state .error {
  left: 300px;
}
.recurly_subscribe .field.zip {
  width: 100px;
  margin-left: 20px;
  margin-left: 20px;
  clear: none;
  clear: none;
}
.recurly_subscribe .field.zip input {
  width: 88px;
}
.recurly_subscribe .field.vat_number {
  width: 140px;
  display: none;
}
.recurly_subscribe .field.vat_number input {
  width: 128px;
}
.recurly_subscribe .field.vat_number.applicable {
  display: block;
}
.recurly_subscribe .only_zipstreet .zip.field,
.recurly_subscribe .only_zip .zip.field {
  margin-left: 0;
  clear: left;
}
.recurly_subscribe ul.accepted_cards {
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 160px;
  width: 204px;
  list-style-type: none;
}
.recurly_subscribe ul.accepted_cards li {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-indent: -3000px;
  width: 50px;
  height: 30px;
  margin: 0 0 10px 1px;
  padding: 0;
  float: left;
}
.recurly_subscribe ul.accepted_cards li.mastercard {
  background-image: url("../images/creditcards/mastercard.gif");
}
.recurly_subscribe ul.accepted_cards li.american_express {
  background-image: url("../images/creditcards/amex.gif");
}
.recurly_subscribe ul.accepted_cards li.visa {
  background-image: url("../images/creditcards/visa.gif");
}
.recurly_subscribe ul.accepted_cards li.discover {
  background-image: url("../images/creditcards/discover.gif");
}
.recurly_subscribe ul.accepted_cards li.no_match {
  opacity: 0.5;
}
.recurly_subscribe label {
  display: block;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}
.recurly_subscribe input,
.recurly_subscribe textarea,
.recurly_subscribe select {
  vertical-align: middle;
  color: #000;
}
.recurly_subscribe input.invalid,
.recurly_subscribe textarea.invalid,
.recurly_subscribe select.invalid {
  border-color: #a55;
  background: #fee;
  color: #311;
}
.recurly_subscribe input {
  background: #fff;
  border: 1px solid #a0a0a5;
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 5px;
  height: 22px;
}
.recurly_subscribe select {
  color: inherit;
  font-family: inherit;
  font-size: 13px;
  width: 100%;
}
.recurly_subscribe select > option {
  color: inherit;
}
.recurly_subscribe .due_now {
  background: url("../images/due_now.png") no-repeat top left;
  clear: both;
  color: #2a3a3c;
  height: 70px;
  line-height: 67px;
  vertical-align: middle;
  padding: 0 25px;
  width: 460px;
  position: relative;
  left: -5px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.recurly_subscribe .due_now .title {
  float: left;
  font-size: 29px;
  position: relative;
}
.recurly_subscribe .due_now .cost {
  color: #fff;
  float: right;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
.recurly_subscribe .footer {
  border-radius: 0px 0px 9px 9px;
  margin: 0px;
  padding: 20px;
}
.recurly_subscribe.submitting .footer {
  background: url("../images/submitting.gif") no-repeat 180px 28px;
}
.recurly_subscribe button.subscribe {
  position: relative;
  height: 46px;
  max-width: 600px;
  width: 140px;
  font-size: 18px;
  font-weight: 700;
  color: #302106;
  text-shadow: rgba(255,255,255,0.5694) 0 1px 0;
  text-align: center;
  margin-left: 0px;
  border: 1px solid #767674;
  background: #e7a500;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  outline: none;
  box-shadow: inset rgba(255,255,255,0.7) 0px 1px 0px, rgba(0,0,0,0.5) 0px 1px 3px;
  background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fecd00), to(#ce7b00));
  background: -moz-linear-gradient(top, #fecd00, #ce7b00);
  cursor: pointer;
}
.recurly_subscribe button.subscribe hover {
  color: #555;
}
.recurly_subscribe button.subscribe active {
  top: 2px;
  color: #302106;
  text-shadow: rgba(255,255,255,0.5694) 0 -1px 0;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  outline: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce7b00), to(#fecd00));
  background: -moz-linear-gradient(top, #ce7b00, #fecd00);
  box-shadow: rgba(255,255,255,0.69) 0px -1px 0px inset, rgba(0,0,0,0.26) 0px 2px 3px;
}
.recurly_subscribe button.subscribe[disabled] {
  position: relative;
  height: 46px;
  max-width: 600px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #555 !important;
  text-shadow: rgba(255,255,255,0.5694) 0 1px 0;
  text-align: center;
  opacity: 0.75;
  border: 1px solid #767674;
  background: #e7a500;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  outline: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dbd9d2), to(#999)) !important;
  background: -moz-linear-gradient(top, #dbd9d2, #999) !important;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: rgba(255,255,255,0.69) 0px 1px 0px inset, rgba(0,0,0,0.26) 0px 2px 3px;
  box-shadow: rgba(255,255,255,0.699219) 0px 1px 0px inset, rgba(0,0,0,0.269219) 0px 2px 3px;
}
.recurly_subscribe button.subscribe span {
  font-weight: 500;
  font-size: 13px;
}
.recurly_subscribe button.subscribe:hover {
  color: #555;
}
