<%- include('_head'); -%>
  <input type="text" data-test="first-name" data-recurly="first_name">
  <input type="text" data-test="last-name" data-recurly="last_name">
  <input type="text" data-test="tax-identifier" data-recurly="tax_identifier">
  <input type="hidden" data-test="tax-identifier-type" data-recurly="tax_identifier_type" value="cpf">
  <div data-recurly="card"></div>
<%- include('_foot'); -%>
