<%- include('_head'); -%>
  <section id="my-checkout">
    <select data-recurly="plan">
      <option value="basic">Basic</option>
      <option value="notbasic">Not Basic</option>
    </select>
    plan_quantity <input type="text" data-recurly="plan_quantity">
    coupon<input type="text" data-recurly="coupon">
    gift_card<input type="text" data-recurly="gift_card">
    tax_code<input type="text" data-recurly="tax_code">
    postal_code<input type="text" data-recurly="postal_code">
    country<input type="text" data-recurly="country">
    currency<input type="text" data-recurly="currency" value="USD">
    vat_number<input type="text" data-recurly="vat_number">
    tax_amount_now<input type="text" data-recurly="tax_amount_now">
    tax_amount_next<input type="text" data-recurly="tax_amount_next">

    My product x
    <input type="text"
         data-recurly="adjustment"
         data-recurly-adjustment="my-adjustment-0"
         data-recurly-adjustment-item-code="item1"
         value="10">

    total_now<div type="text" data-recurly="total_now"></div>
    subtotal_now<div type="text" data-recurly="subtotal_now"></div>
    subscriptions_now<div type="text" data-recurly="subscriptions_now"></div>
    adjustments_now<div type="text" data-recurly="adjustments_now"></div>
    discount_now<div type="text" data-recurly="discount_now"></div>
    taxes_now<div type="text" data-recurly="taxes_now"></div>
    gift_card_now<div type="text" data-recurly="gift_card_now"></div>
    currency_code<div type="text" data-recurly="currency_code"></div>
    currency_symbol<div type="text" data-recurly="currency_symbol"></div>
    total_next<div type="text" data-recurly="total_next"></div>
    subtotal_next<div type="text" data-recurly="subtotal_next"></div>
    subscriptions_next<div type="text" data-recurly="subscriptions_next"></div>
    adjustments_next<div type="text" data-recurly="adjustments_next"></div>
    discount_next<div type="text" data-recurly="discount_next"></div>
    taxes_next<div type="text" data-recurly="taxes_next"></div>
    gift_card_next<div type="text" data-recurly="gift_card_next"></div>

  </section>
<%- include('_foot'); -%></input>
