
<html>
  <head></head>
  <body>
    <input>
  </body>
  <script>
    // Hosted field stub. This listens for window events and passes back
    window.name = 'recurlyHostedField:number'
    window.addEventListener('message', receive, false);

    message('hostedField:ready', { type: config().type });

    function receive (event) {
      if (event.data.event === 'token:init') token(event.data.body);
    }

    function token (body) {
      var recurly = new parent.recurly.Recurly(recurlyConfig());
      recurly.token(body, function send (err, token) {
        message('token:done', { err: err, token: token });
      });
    }

    function message (name, body) {
      if (window.parent) window.parent.postMessage({ event: name, body: body }, '*');
    }

    function recurlyConfig() {
      var queryConfig = config().recurly;
      queryConfig.parent = false;
      return queryConfig;
    }

    function config () {
      var query = window.location.search;
      return JSON.parse(decodeURIComponent(query.substring(query.indexOf('config=') + 7)) || {});
    }
  </script>
</html>
