doctype html
html
  head
    title recurly.js coverage
    script(src='/test/server/mocha.js')
    script
      mocha.setup({ ui: 'bdd' })
    script(src='/test/build.js')
    script
      cov = require('coverage')('recurly');
    script(src='/recurly.js')
  body
    #coverage
    #mocha(style='display: none;')
    script
      mocha.run(function(){
        cov.render();
      });
