doctype html
html
  head
    title recurly.js tests
    link(rel='stylesheet', href='/test/server/mocha.css')
    script(src='/build/recurly.js')
    script(src='/test/server/sinon.js')
    script(src='/test/server/mocha.js')
    script.
      mocha.setup({ ui: 'bdd' });
      mocha.timeout(0);
    script(src='/test/build.js')
  body
    #mocha
    #dom-testbed
    script.
      var m = window.mochaPhantomJS || window.mocha;
      var g = window.gravy || function () {};
      g(m.run());
